<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lgz.tutorjava.dao.PagePersonMapper">
    <resultMap id="CommentMap" type="com.lgz.tutorjava.model.Comment">
        <id column="comment_id" property="commentId" jdbcType="INTEGER"/>
        <result column="comment_type" property="commentType" jdbcType="INTEGER"/>
        <result column="comment_content" property="commentContent" jdbcType="VARCHAR"/>
        <result column="answer_content" property="answerContent" jdbcType="VARCHAR"/>
        <result column="submit_time" property="submitTime" jdbcType="VARCHAR"/>
        <result column="check_time" property="checkTime" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="is_check" property="isCheck" jdbcType="INTEGER"/>
        <result column="is_read" property="isRead" jdbcType="INTEGER"/>
    </resultMap>


    <insert id="addComment" parameterType="com.lgz.tutorjava.model.Comment">
        insert into comment ( comment_type, comment_content, submit_time, user_id, is_check,is_read)
        values (#{comment.commentType},#{comment.commentContent},#{comment.submitTime},#{comment.userId},0,0)
    </insert>

    <!-- 获取家教学生之间邀请答复信息情况 -->
    <select id="replyInfo" resultType="map">
        select id,type,content,time from invite_and_reply
        where invited_user_id=#{userId} and is_read=0
        order by time asc
    </select>

    <update id="updateMyInfo" parameterType="com.lgz.tutorjava.model.User">
        update user set password=#{password},name=#{name},sex=#{sex},age=#{age},
                        phone_number=#{phoneNumber},update_time=#{updateTime}
        where user_id =#{userId}
    </update>

    <select id="getMyInfo" resultType="com.lgz.tutorjava.model.User">
        select user_id,user_name,password,name,sex,age,phone_number from user
        where is_del=0 and user_id=#{userId}
    </select>

    <select id="commentInfo" resultMap="CommentMap">
        select comment_id,comment_type,comment_content,answer_content,check_time from comment
        where user_id=#{userId} and is_check = 1 and is_read = 0;
    </select>

    <!-- 标识为此条消息用户已读 -->
    <update id="setIsRead">
        update comment set is_read=1 where comment_id=#{commentId}
    </update>

    <!-- 邀请回复表中一条记录设为已读 -->
    <update id="setInviteIsRead">
        update invite_and_reply set is_read=1 where id=#{id}
    </update>

    <!-- 查询一条邀请回复记录 -->
    <select id="getOneInviteRecord" resultType="map">
        select student_id as studentId,tutor_id as tutorId,invite_user_id as inviteUserId,invited_user_id as invitedUserId
        from invite_and_reply
        where id=#{id}
    </select>

    <select id="getMyOrders" resultType="map">
        select d.serial as serial,s.student_name as studentName,t.tutor_name as tutorName,d.time as time
        from dingdan d,tutor t,student s
        where t.tutor_id=d.tutor_id
        and s.student_id=d.student_id
        and d.is_del=0
        and (d.tutor_user_id=#{userId} or d.student_user_id=#{userId})
    </select>
</mapper>